@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html {
}

body {
  background-color: white !important;
  font-family: Roboto, 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}

footer {
  display: none;
}

.banner1 {
  /* background-image: url('../images/script.jpg'); */
  background-attachment: fixed;
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-color: #000;
  /* background-size: cover; */
  color: #fff;
  padding: 5rem 0;
}
