@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html {
}

body {
  background-color: white !important;
  font-family: Roboto, 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;
}

footer {
  display: none;
}
